<head>
    <meta charset="utf-8">
    <title>bike predictor</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.css" src=></link>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Special+Elite&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: Courier;
        }
    </style>
</head>

<body>
  {% include 'nav.html' %}

  <section style="padding-top: 30px; padding-bottom: 30px">
    <div class="container">
      <h1 class="title" style="margin-left: 20px;"></h1>
    </div>
  </section>

  <section>
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-three-fifths" style="margin-left: 20px; margin-right: 20px">
                <h4 class="subtitle is-4 has-text-left">
                    bike predictor
                </h4>

                <div class="box">
                    <h5 class="subtitle is-5 has-text-left">
                        there is currently a {{ (predictions[0]['prediction'] * 100)|float|round|int }}% chance that a
                        bike will be available in 12 hours.
                    </h5>
                </div>

                <p>
                    A prediction algorithm to perform 12-hour advanced forecasts of bike availability
                    for the citi bike dock on E 10th st on the north side of Tompkins Square Park.
                </p>
                <br>
                <p>
                    You can read more about this model and how it works <a href="">here.</a>
                </p>
                <br>
                <p>
                    bike-predictor is developed and maintained by Houston Warren. All code is available on
                    <a href="https://github.com/houstonwarren/bike-predictor">github</a>.
                </p>
            </div>
        </div>

    </div>
  </section>
</body>
